body, html {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  padding: 18px;
  margin: 0;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: rgb(233, 10, 10);
  font-weight: bold;
}

.Company-name {
  font-size: 3.438rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 18.75rem;
  font-style: oblique;
}

.navbar .cart-widget {
  display: flex;
  align-items: center;
} 

.cart-icon {
  font-size: 24px;
  margin-right: 8px;
  cursor: pointer;
  color: blue; /* Cambia 'blue' por el color que desees */
}
