.footer {
  background-color: rgba(0, 0, 0, 0.788);
  min-height: 11.25rem;
  color: #333;
  padding-top: 0rem;
  text-align: center;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

  .footer-links {
    list-style: none;
    text-align: center;
    padding: 10px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

    >li {
      display: inline;
      margin: 10px;

      >a {
        display: block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.secciones {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 18.75rem;
  font-style: oblique;
  padding-top: 3.438rem;
  padding-left: 11.563rem;
  padding-bottom: 1.875rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 4.063rem;
  color: $ColorHover;
}





.derechos-reservados {
  text-align: center;
  padding: 0.625rem 0;
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  padding: 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

body {
  overflow-x: hidden;
}